<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated properties -->
      <package
            uri="https://lionweb.io/io_lionweb_Properties"
            class="io.lionweb.Properties.PropertiesPackage"
            genModel="model/properties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated properties -->
      <package
            uri="LionCore-builtins"
            class="LionCore_builtins.LionCore_builtinsPackage"
            genModel="model/properties.genmodel"/>
   </extension>

</plugin>
