<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated properties -->
      <package
            uri="https://lionweb.io/io_lionweb_Properties"
            class="io.lionweb.io.lionweb.Properties.PropertiesPackage"
            genModel="src-gen/main/model/properties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated propertiesX -->
      <package
            uri="https://lionweb.io/io_lionweb_PropertiesX"
            class="PropertiesX.PropertiesXPackage"
            genModel="src/main/model/propertiesX.genmodel"/>
   </extension>

</plugin>
